html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
    color: #e01d1d;
}

.close-alert{
    position: absolute;
    right: -0.625rem;
    top:  -0.938rem;
    border-radius: 0.938rem;
    width: 1.875rem;
    height: 1.938rem;
}